{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
    <div class="object-tools">
        {% if show_export_button %}
            <a href="javascript:void(0)" onclick="exportarPDF()" class="btn btn-high btn-info">
                <i class="fas fa-file-pdf"></i> Exportar PDF
            </a>
        {% endif %}
        {% block object-tools-items %}
            {{ block.super }}
        {% endblock %}
    </div>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script>
function exportarPDF() {
    // Pegar os filtros atuais
    const urlParams = new URLSearchParams(window.location.search);
    const banner = urlParams.get('banner__id__exact');
    const data = urlParams.get('timestamp__date');
    
    // Construir URL do PDF com os filtros
    let pdfUrl = "{% url 'banners:export_stats_pdf' %}?";
    if (banner) pdfUrl += `banner=${banner}&`;
    if (data) pdfUrl += `data=${data}&`;
    
    // Abrir em nova aba
    window.open(pdfUrl, '_blank');
}
</script>
{% endblock %}
