{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }} | {{ site_header|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    :root {
        --primary: #79aec8;
        --secondary: #417690;
        --accent: #f5dd5d;
        --primary-fg: #fff;
        --header-color: var(--primary-fg);
        --header-branding-color: var(--accent);
        --header-bg: var(--secondary);
        --header-link-color: var(--primary-fg);
    }
    
    #header {
        background: var(--header-bg);
        color: var(--header-color);
        height: auto;
        padding: 15px 40px;
    }
    
    #branding h1 {
        color: var(--header-branding-color);
        margin: 0;
        font-weight: 300;
        font-size: 24px;
        display: flex;
        align-items: center;
    }
    
    #branding h1 img {
        height: 40px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    
    #branding h1, #branding h1 a:link, #branding h1 a:visited {
        color: var(--header-branding-color);
    }
    
    #header a:link, #header a:visited {
        color: var(--header-link-color);
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo.png' %}" alt="Evangelhos Aramaico Siríaco">
        <span>Administração</span>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        EAS 3.0.0
    </div>
    <strong>Todos os Direitos Reservados @ {% now "Y" %} Evangelhos Aramaico Siriaco</strong>
</footer>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icone-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/icone-192x192.png' %}">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Remove o módulo de ações recentes
        var recentActionsModule = document.getElementById('recent-actions-module');
        if (recentActionsModule) {
            recentActionsModule.remove();
        }
        
        // Remove também a coluna que contém as ações recentes
        var sidePanel = document.querySelector('.dashboard .col-lg-3');
        if (sidePanel) {
            sidePanel.remove();
        }
        
        // Ajusta a largura da coluna principal
        var mainContent = document.querySelector('.dashboard .col-lg-9');
        if (mainContent) {
            mainContent.className = mainContent.className.replace('col-lg-9', 'col-lg-12');
        }
    });
</script>
{% endblock %}